<div class="col-md-2">
    <div class="sidebar content-box" style="display: block;">
        <ul class="nav">
            <li class="current"><a href="/admin/admin/"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
           
            <li class="submenu">
                <a href="#">
                    <i class="glyphicon glyphicon-list"></i> Manage Recipies
                    <span class="caret pull-right"></span>
                </a>
                <!-- Sub menu -->
                <ul>
                    <li><a href="/admin/recipes/">All Recipes</a></li>
                    <li><a href="/admin/recipes/addrecipe">Add Recipe</a></li>
                </ul>
            </li>

            <li class="submenu">
                <a href="#">
                    <i class="glyphicon glyphicon-list"></i> Manage Daily Menus
                    <span class="caret pull-right"></span>
                </a>
                <!-- Sub menu -->
                <ul>
                    <li><a href="/admin/dailymenus/">All Daily Menus</a></li>
                    <li><a href="/admin/dailymenus/adddailymenu">Add Daily Menu</a></li>
                </ul>
            </li>

            <li class="submenu">
                <a href="#">
                    <i class="glyphicon glyphicon-list"></i> Manage Ingredients
                    <span class="caret pull-right"></span>
                </a>
                <!-- Sub menu -->
                <ul>
                    <li><a href="/admin/ingredients/">All Ingredients</a></li>
                    <li><a href="/admin/ingredients/addingredient/">Add Ingredient</a></li>
                </ul>
            </li>

            <li class="submenu">
                <a href="#">
                    <i class="glyphicon glyphicon-list"></i> Manage Food Categories
                    <span class="caret pull-right"></span>
                </a>
                <!-- Sub menu -->
                <ul>
                    <li><a href="/admin/foodcategories/">All Food Categories</a></li>
                    <li><a href="/admin/foodcategories/addfoodcategory">Add Food Category</a></li>
                </ul>
            </li>

            <li class="submenu">
                <a href="#">
                    <i class="glyphicon glyphicon-list"></i> Manage Users
                    <span class="caret pull-right"></span>
                </a>
                <!-- Sub menu -->
                <ul>
                    <li><a href="/admin/users/">All Users</a></li>
                    @*<li><a href="/admin/users/adduser">Add User</a></li>*@
                </ul>
            </li>
            <li><a href="calendar.html"><i class="glyphicon glyphicon-calendar"></i> Calendar</a></li>
            <li><a href="stats.html"><i class="glyphicon glyphicon-stats"></i> Statistics (Charts)</a></li>
        </ul>
    </div>
</div>