<div id='TextBoxesGroupIngredients'>
    <div class="input_fields_wrap">
        <p>
            <button class="add_field_button btn btn-default">Add Ingredient</button>
            @Html.ActionLink("Add FoodCategory", "AddFoodCategory", "FoodCategories")
        </p>
        <div>
            <input id="ingredientName1" type="text" name="ingredientNames" placeholder="Ingredient">
            <input id="quantity1" type="number" name="ingredientQuantities" placeholder="Quantity">
            <input id="price1" type="number" name="ingredientPrices" placeholder="Price">
            <select id="foodCategories" name="foodCategories"></select>
        </div>
    </div>
</div>

