<div id='TextBoxesGroupIngredients'>
    <div class="input_fields_wrap">
        <p>
            <button class="add_field_button btn btn-default">Add Ingredient</button>
            @Html.ActionLink("Add FoodCategory", "AddFoodCategory", "FoodCategories")
        </p>
        <div class="=col-md-12">
            <input id="ingredientName1" type="text" name="ingredientNames" placeholder="Ingredient">
            <input id="quantity1" type="number" name="ingredientQuantities" placeholder="Quantity">
            <input id="price1" type="number" name="ingredientPrices" placeholder="Price">
            <select id="foodCategories" name="foodCategories" class="browser-default"></select>
        </div>
    </div>
</div>
<input type="hidden" id="forgeryToken" value="@GetAntiForgeryToken()" />

@section scripts{
<script>
        @functions{
            public string GetAntiForgeryToken()
            {
                string cookieToken, formToken;
                AntiForgery.GetTokens(null, out cookieToken, out formToken);
                return cookieToken + "," + formToken;
            }
        }
</script>
}