@model SearchUserViewModel

<div style="margin-top:17px;">
    @{
        var grid = new WebGrid(null, rowsPerPage: Model.PageSize);
        grid.Bind(Model.Users, autoSortAndPage: true, rowCount: Model.PageSize);

        @grid.GetHtml(htmlAttributes: new { id = "grid" },
        tableStyle: "table table-bordered table-hover",
        mode: WebGridPagerModes.All,
        firstText: "<< First",
        previousText: "< Prev",
        nextText: "Next >",
        lastText: "Last >>",
        columns: grid.Columns(
              grid.Column("UserName", "UserName", style: "col-lg-2"),
              grid.Column("Email", "Email", style: "col-lg-2"),
              grid.Column("Roles", header: "Roles", format: @<text> @string.Format("{0} ", item.Roles)</text>),
              grid.Column(header: "Action", canSort: false, style: "action",
                format: @<text>
                @Html.ActionLink("Edit", "EditUser", new { id = item.UserName }) |
                @Html.ActionLink("Delete", "DeleteUser", new { id = item.UserName })
                </text>)
        ));
    }
</div>
