@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    HomeMadeFood Ltd.<br />
    Sofia, Bulgaria<br />
    <abbr title="Phone">P:</abbr>
    0888 88 88 88 88 
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@homemadefood</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@homemadefood</a>
</address>