@model SearchIngredientViewModel

<div style="margin-top:17px;">
    @{
        var grid = new WebGrid(null, rowsPerPage: Model.PageSize);
        grid.Bind(Model.Ingredients, autoSortAndPage: true, rowCount: Model.PageSize);

        @grid.GetHtml(htmlAttributes: new { id = "grid" },
        tableStyle: "table table-bordered table-hover",
        mode: WebGridPagerModes.All,
        firstText: "<< First",
        previousText: "< Prev",
        nextText: "Next >",
        lastText: "Last >>",
        columns: grid.Columns(
              grid.Column("Name", "Name", style: "col-lg-2"),
              grid.Column("Receipe", "Recipe", style: "col-lg-2"),
              grid.Column("PricePerMeasuringUnit", header: "PricePerMeasuringUnit", format: @<text>@string.Format("{0:C}", item.PricePerMeasuringUnit) </text>),
              grid.Column("QuantityInMeasuringUnit", "QuantityInMeasuringUnit", style: "col-lg-2"),
              grid.Column(header: "Action", canSort: false, style: "action",
                format: @<text>
                @Html.ActionLink("Edit", "EditIngredient", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteIngredient", new { id = item.Id })
                </text>)
        ));
    }
</div>