@model SearchIngredientViewModel

@{
    ViewBag.Title = "Ingredients";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var message = TempData["message"];
}

<div class="row">
    @Html.Partial("_AdminSideBarMenu")
    <div class="col-md-10">
        <h2>Ingredients</h2>

        @using (Ajax.BeginForm("Index", null,
                                                new AjaxOptions
                                                {
                                                    UpdateTargetId = "results",
                                                    InsertionMode = InsertionMode.Replace,
                                                    HttpMethod = "POST"
                                                }, new { id = "searchForm" }))
        {
            <div class="row">
                <div class="col-md-4">
                    <input type="text" name="name" oninput="changed()" class="form-control" placeholder="Ingredient's name" />
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
                </div>
                <div class="col-md-3">
                    @Html.ActionLink("Add New Ingredient", "AddIngredient")
                </div>
            </div>
        }

        <div id="results">
            @Html.Partial("_IngredientsGridPartial", Model)
        </div>
    </div>
</div>

@section scripts {
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="~/Scripts/Custom/bootstrap.min.js"></script>
    <script src="~/Scripts/Custom/custom.js"></script>
    <script>
        function changed() {
            $("#searchForm").submit();
        }
    </script>
}