@model HomeMadeFood.Web.Areas.Admin.Models.SearchIngredientViewModel

    @{
        ViewBag.Title = "Ingredients";
        Layout = "~/Views/Shared/_Layout.cshtml";
        var message = TempData["message"];
    }

    <div class="row">
        @Html.Partial("_AdminSideBarMenu")
        <div class="col-md-10">
            <h2>Ingredients</h2>

            <p>
                @Html.ActionLink("Add New Ingredient", "AddIngredient")
            </p>

            <h3>Search Ingredients</h3>

            @using (Ajax.BeginForm("Search", null,
                new AjaxOptions
                {
                    UpdateTargetId = "results",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "POST"
                }, new { id = "searchForm" }))
            {
                <div class="row">
                    <div class="form-horizontal">
                        <input type="text" name="name" oninput="changed()"  class="form-control"/>
                        <input type="submit" class="btn btn-success" value="Search" />
                    </div>
                </div>
            }
            <script>
                function changed() {
                    $("#searchForm").submit();
                }
            </script>
            <div id="results">
                @Html.Partial("_IngredientsGridPartial", Model)
            </div>
        </div>
    </div>